beautifulsoup4
flask
google-cloud-secret-manager
google-cloud-storage
gunicorn
jsonschema
openai
pillow
pytest
python-dotenv
pytest-env
pyyaml
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl
