div.page-header {
	color: black;
	background-color:rgba(162, 169, 202, 0.23);
	margin-top: 25px;
	margin-bottom: 1.5em;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 5%;
	padding-left: 5%;
	border-radius: 4px;
}

div.page-header p {
	font-size:18px;
}

ul.nav {
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 25px;
}

a.nav-link {
	color: #9c5b84;
}

li.nav-item:hover {
	background-color: #bbb2bb
}

ul.nav a:hover {
	color: #9c5b84 !important; 
}

.card {
	background-color:rgba(162, 169, 202, 0.51);
	margin-left: 10%;
	margin-right: 10%;
}

#loader {
	margin-bottom: 25px;
}

div.spinner-border {
	width: 4rem;
	height: 4rem;
}

#left-margin {
	background-color: #1b2838;
	width: 20%;
	height: 100vh;
}

#right-margin {
	background-color: #1b2838;
	width: 20%;
	height: 100vh;
}

#content {
	border-radius: 10px;
	width: 60%;
}

.container {
	width: auto;
}

#description-container {
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#ghlink {
	color: #8ec2f1;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
	font-weight: bold;
}

body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#263d56+0,264d6b+38,26516f+75,004084+100,207cca+100,7db9e8+100 */
	background: #263d56; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #282e33 0%, #264d6b 38%, #26516f 75%, #004084 100%, #207cca 100%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #282e33 0%,#264d6b 38%,#26516f 75%,#004084 100%,#207cca 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #282e33 0%,#264d6b 38%,#26516f 75%,#004084 100%,#207cca 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#263d56', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#developer {
	margin-left: 0.7em;
	margin-bottom: 1em;
}

#developer > span {
	background-color: #4e6c89;
	border-radius: 3px;
	padding: 3px;
	font-size: 14px;
	line-height: 18px;
}

.game-tag {
	background-color: #274d71;
	margin-left: 0.7em;
	color: #67c1f5;
	border-radius: 3px;
	line-height: 18px;
	font-size: 14px;
	padding: 3px;
}

#tagline {
	margin-bottom: 15px;
}

#developer {
	margin-bottom: 10px;
	color: #040406;
}

#generate_button {
	color: #acd4ff;
	background-color: #233b58;
	border-color: #233b58;
	margin-top: 20px;
}

hr {
	height: 1px;
    background: #000000;
    border: none;
    margin-bottom: 5px;
}

div#system_requirements_container {
	margin-top: 2em;
	font-size: 13px;
}

#system_requirements_container > h3 {
	border-bottom: 1px solid #000000;
}

ul#system_requirements {
	list-style-type: none;
	margin-left: 1.5em;
	margin-right: 1.5em;
	padding: 0;
	padding-left: 2em;
	text-indent: -2em;
  }

