<!DOCTYPE html>


<html lang="en">
	<head>
		<title>Game Ideas | What if that thing I said?</title>
		<meta charset="UTF-8" />
		<meta name="descriptions" content="Game description written by a text generator">
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

		<!-- bootstrap -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- jQuery, Popper and Bootstrap -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

		<script type=text/javascript>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>

		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


		<script type=text/javascript>

			// Generate an initial description on load and set a handler to the generate button
			$(function() {
				$(document).ready(setDescription);
			  	$("#generate_button").bind("click", setDescription);
			});
			
	
			/* Send a request to the backend for a new description and display it the
			description container.
			*/ 
			function setDescription() {
				$.ajax({
					beforeSend: function(request) {
						request.setRequestHeader("X-Button-Callback", "true");
						// Hide description content and display the loader
						$("#loader").show();
						$(".clearable").text("");
						$("#system_requirements_container").hide();
					},
					dataType: "json",
					url: $SCRIPT_ROOT + "/_generate",
					success: function(data) {
						// Set description content and hide loader
						$("#loader").hide();
						$("#system_requirements_container").show();

						// main content
						$("#description").append("<h2>" + data.description[0].title + "</h2>");
						$("#description").append("<p>" + data.description[0].content + "</p>");

						// tagline (if present)
						if (data.tagline) {
							$("#tagline").append(`<div class="game-tagline">"${data.tagline}"</div>`);
						}

						// add remaining description paragraphs (if any)
						for (let i = 1; i < data.description.length; i++) {
							$("#description").append("<h3>" + data.description[i].title + "</h3>");
							$("#description").append("<p>" + data.description[i].content + "</p>");
						}	

						// features; add with a fixed title if any features present
						var ul = $("<ul></ul>");
							if (data.features.length) {
								$("#features").append(`<h3 class="section_header">Features</h3>`);
								$("#features").append(ul);
							
							for (let feature of data.features) {
								$("#features > ul").append(`<li>${feature}</li>`);
							}
						}

						// screenshots; display horizontally with scroll
						if (data.screenshots && data.screenshots.length > 0) {
							var screenshot_html = '<div class="screenshots-container"><div class="screenshots-scroll">';
							for (let screenshot of data.screenshots) {
								screenshot_html += `<img src="${screenshot}" alt="Game Screenshot" class="game-screenshot">`;
							}
							screenshot_html += '</div></div>';
							$("#screenshots").html(screenshot_html);
						}

						var developer = "Developer: " + data.developer
						$("#developer > span").text(developer);
						$("#developer").show();

						// tags; create <span> element for each tag
						// (1 genre tag and 0-n context and extra tags)
						var tag_html = "<span class='game-tag'>" + data.tags.genre + "</span>";
						var secondary_tags = data.tags.context.concat(data.tags.extra);
						for (let i = 0; i < secondary_tags.length; i++) {
							tag_html += "<span class='game-tag'>" + secondary_tags[i] + "</span>";;
						}	
						$("#tags").html(tag_html);

						// system requirements
						for (let category of data.system_requirements) {
							$("#system_requirements").append(`<li><b>${category["name"]}</b>: ${category["value"]}</li>`);
						}
					},
					error: function(jqXHR, textStatus, errorThrown) {
						$("#loader").hide();
						$(".clearable").text("");
						$("#developer").hide();

						$("#description").html(`
							<div class="error-container">
								<div class="error-icon">❌</div>
								<h1 class="error-title">Something went wrong</h1>
								<p class="error-message">There was a problem generating your game description.</p>
								<p>Please try again or check back later.</p>
							</div>
						`);
					}
				});
				return false;
			}
		</script>

	</head>
	<body>

	<div class="container">

		<div class="row">
			<!-- left margin -->
			<div class="hidden-xs col-md-2" id="left-margin"></div>

			<!-- Middle section for content -->
			<div id="content" class="col-xs-12 col-md-8">
				<div class="page-header">
					<div class="header-content">
						<div class="header-icon">
							<img src="{{ url_for('static', filename='img/steamy_pipe_logo_round.png') }}" alt="Logo">
						</div>
						<div class="header-text">
							<h1>Game Ideas</h1> 
							<p>Game descriptions modelled after Steam store written by a text generator</p>
						</div>
					</div>
				</div>

				<!-- Container for the description and a loader div -->
				<div class="card">
					<div class="card-body">
						<!-- A spinning loader to be displayed while new description is being loaded -->
						<div class="text-center" id="loader">
							<div class="spinner-border text-primary" role="status">
								<span class="sr-only">Loading...</span>
							</div>
						</div>

						<div class="clearable" id="description"></div>
						<div class="clearable" id="tagline"></div>
						<div class="clearable" id="features"></div>
						<div class="clearable" id="screenshots"></div>
						<div id="developer">
							<span class="clearable">Developer: </span>
						</div>
						<div class="clearable" id="tags"></div>
						<div id="system_requirements_container">
							<h3 class="section_header">System Requirements</h3>
							<ul class="clearable" id="system_requirements"></ul>
						</div>

						<hr/>
						<div class="row justify-content-center">
							<button type="submit" class="btn btn-primary" id="generate_button">Generate</button>
						</div>
					</div>
				</div>
			</div>

			<!-- right margin -->
			<div class="hidden-xs col-md-2" id="right-margin"></div>

		</div>
	</div>


    </body>
</html>
