name: Deploy

on:
  workflow_dispatch:
    
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version-file: ".python-version"

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
          version: "0.6.12"

    - name: Install the project
      run: |
        uv sync

    - name: Run unit tests
      run: |
        uv run pytest

  deploy:
    runs-on: ubuntu-latest
    needs: test

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          project_id: webhost-common
          workload_identity_provider: projects/232474345248/locations/global/workloadIdentityPools/github-actions-deploy/providers/github
          service_account: ci-deploy@webhost-common.iam.gserviceaccount.com

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: webhost-common

      - name: Deploy to App Engine
        run: |
          gcloud run deploy game-descriptor \
            --region europe-north1 \
            --source . \
            --env-vars-file vars.prod.env \
            --memory 768Mi \
            --service-account game-descriptor-worker@webhost-common.iam.gserviceaccount.com
